<form th:action="@{/AddedNewRoom}" method="post">
    <h1>Room Name:</h1>
    <input type="text" name="name" required/>

    <h1>Seats:</h1>
    <input type="number" name="capacity" min="1" required/>

    <h1>Assign Movies:</h1>
    <select name="movieIds" id="movieSelect" multiple="multiple">
        <option value="" disabled>-- Choose Movies (Hold Ctrl to select multiple) --</option>
        <option th:each="movie : ${Movielist}"
                th:value="${movie.id}"
                th:text="${movie.title}">
        </option>
    </select>

    <button type="submit">Add Room</button>
</form>
